/* merriweather-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: url("1594-fonts/merriweather-v30-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("1594-fonts/poppins-v21-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("1594-fonts/poppins-v21-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color-bg: hsl(338, 80%, 45%);
  --color-bg-stripe: hsl(338, 92%, 38%);
  --color-dark-blue: hsl(245, 58%, 16%);
  --color-light-orange: hsl(40, 100%, 71%);
  --color-dark-orange: hsl(40, 93%, 48%);
  --color-bright-orange: hsl(25, 100%, 64%);
  --color-medium-orange: hsl(40, 100%, 64%);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  background-color: var(--color-bg);
}

main {
  display: grid;
  width: 100%;
  min-height: 100vh;
  place-content: center;
}

.container__card {
  position: relative;
  width: 493px;
  height: 757px;
  border-radius: 42px;
  background-color: var(--color-medium-orange);
  border: 20px solid var(--color-light-orange);
  padding: 60px;
}

.stripe {
  position: absolute;
  z-index: -1;
  top: -18%;
  left: 120.5px;
  width: 212px;
  height: 100vh;
  background-color: var(--color-bg-stripe);
}

h1 {
  font-family: "Merriweather", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

input[type="search"] {
  width: 100%;
  height: 63px;
  background-color: var(--color-light-orange);
  border: 1px solid var(--color-dark-orange);
  padding: 16px 16px 16px 57px;
  border-radius: 4px;
}

input[type="search"]::placeholder {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  color: inherit;
  opacity: 0.5;
}

input[type="search"]:focus {
  outline: none;
  border: 2px solid var(--color-bright-orange);
}

.input__div {
  position: relative;
  margin-block: 42px 16px;
}

.search__svg {
  position: absolute;
  top: 16px;
  left: 16px;
}

container__list {
  display: flex;
  flex-direction: column;
}

.card__author {
  display: flex;
  gap: 12px;
  height: 86px;
  padding: 16px;
  border-radius: 8px;
}

.card__author img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

.card__author p {
  align-self: center;
}

.card__author:hover {
  background-color: var(--color-bright-orange);
}

.card__author:not(:first-child) {
  margin-top: 4px;
}
