/* merriweather-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: url("1592-fonts/merriweather-v30-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("1592-fonts/poppins-v21-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("1592-fonts/poppins-v21-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color-blue: hsl(234, 45%, 23%);
  --color-seen: hsla(234, 45%, 23%, 0.6);
  --color-white: hsl(0, 0%, 100%);
  --color-green: hsl(158, 71%, 56%);
  --color-grey: hsl(0, 0%, 82%);
  --color-orange: hsl(22, 71%, 56%);
  --color-bg: hsl(222, 100%, 98%);
  --color-gradient-start: hsl(158, 71%, 56%);
  --color-gradient-end: hsl(176, 71%, 56%);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--color-blue);
  background-color: var(--color-bg);
}

main {
  display: grid;
  width: 100%;
  min-height: 100vh;
  place-content: center;
}

.container__card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 38.5625rem;
  height: 48.125rem;
  background-color: var(--color-white);
  border-radius: 2.6875rem;
  padding: 5rem;
}

.shadow__card {
  position: absolute;
  z-index: -1;
  top: -5rem;
  left: -3.875rem;
  width: 36.375rem;
  height: 40.375rem;
  background-image: linear-gradient(
    to bottom left,
    var(--color-gradient-start),
    var(--color-gradient-end)
  );
  border-radius: 2.6875rem;
}

h1 {
  font-family: "Merriweather", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  padding-inline-start: 0.875rem;
}

.button {
  font-weight: 500;
  color: var(--color-white);
  background-color: var(--color-blue);
  padding-block: 1.65625rem;
  padding-inline: 10.59375rem;
  border-radius: 1rem;
  align-self: center;
  margin-block: 2rem 1rem;
}

.profile {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: repeat(2, auto);
  padding: 1rem;
}

.profile:not(:last-child) {
  margin-bottom: 4px;
}

.image {
  grid-row: 1 / -1;
  position: relative;
}

.icon {
  display: block;
  grid-row: 1 / -1;
  position: relative;
  border: 1px solid var(--color-grey);
  border-radius: 50%;
}

.round {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.4375rem;
  height: 1.4375rem;
  background-color: var(--color-green);
  border: 3px solid var(--color-white);
  border-radius: 50%;
}

.two .round {
  background-color: var(--color-orange);
}

.four .round {
  background-color: var(--color-grey);
}

.name {
  font-weight: 700;
}

.message {
  grid-column: 2 / -1;
}

.seen {
  grid-row: 1 / 2;
  grid-column: 3 / -1;
  font-size: 0.875rem;
  color: var(--color-seen);
}
